<h3>My drawings</h3>

<div class="row">
  <div class="section">
  <% @drawings.each do |drawing| %>
    <div class="col s4 m4">
      <div class="valign-wrapper center-align">
      <div class="card hoverable">
        <div class="card-image">

          <%= link_to drawing_path(drawing.id) do %>
             <%= image_tag drawing.image %>
          <% end %>

          <%= link_to drawing_path(drawing.id), :method => "delete" do%>
          <span class="btn-floating halfway-fab waves-effect waves-light grey darken-2
          "><i class="fa fa-trash-o" aria-hidden="true"></i></span>
           <% end %>
        </div>
        <div class="card-content">
          <div>
              <%= social_share_button_tag() %>
          </div>
          <h6><%= drawing.template.tag %></h6>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>
</div>
