
<div class="row">
  <div class="section">
  <% @templates.each do |template| %>
    <div class="col s4 m4">
      <div class="valign-wrapper center-align">
      <div class="card hoverable">
        <div class="card-image">

          <img src="<%= template.image.url%>" alt="<%= template.tag %>" style="width:100%">
          <% if current_user %>
            <%= form_for @drawing, url: drawings_path do |f| %>
              <%= f.hidden_field :template_id, value: template.id %>
              <a class="btn-floating halfway-fab waves-effect waves-light pink"><i class="material-icons"><%= f.submit "add" %></i></a>
            <% end %>
          <% end %>
        </div>
        <div class="card-content">
          <p><%= template.tag %></p>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>
</div>

<div style="display:none;">
  <div id="dialog" title="Color Template">
    <iframe id="dialog_iframe" width="600" height="400" style="border:0;"></iframe>
  </div>
</div>
