<!DOCTYPE html>
<html>
  <head>
    <title>ColoringBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <nav>
      <div class="nav-wrapper grey darken-4">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Coloring Templates", templates_path %></li>
          <% if admin %>
           <li><%= link_to "Add Template", new_template_path %></li>
          <% end %>
          <li><%= link_to "My Drawings", drawings_path %></li>
          <% if current_user %>
            <li><%= current_user.user_name %></li>
            <li><%= link_to "Sign out", '/sign_out' %></li>
          <% else %>
            <li><%= link_to "Sign up", 'sign_up' %></li>
            <li><%= link_to "Sign in", '/sign_in' %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <body>
      <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>
